body, #main-wrapper {
    height: 100%;
}

body, .form-control {
    font-size: 14px !important;
}

.float-right {
    float: right;
    margin-right: 16px;
}

.has-error {
    color: maroon;
}

.generic-container {
    margin: 20px;
    padding: 20px;
    background-color: #FFF;
}

.custom-width {
    width: 80px !important;
}
